- const worldState = getState('TQ_JAVASCRIPT_WORLD_STATE');

// Responses
mixin need_code
  response#need_code.
    !{getTranslatedString('javascript.botanist_distant.need_code')}

mixin how_do_i_do_it
  response#how_do_i_do_it.
    !{getTranslatedString('javascript.botanist_distant.how_do_i_do_it')}

mixin second_thought
  response#second_thought.
    !{getTranslatedString('javascript.botanist_distant.second_thought')}

mixin can_you_just_tell
  response#can_you_just_tell.
    !{getTranslatedString('javascript.botanist_distant.can_you_just_tell')}

conversation(display_name="TwilioQuest Botanist")
  if lastResponse === "how_do_i_do_it"
    statement.
      !{getTranslatedString('javascript.botanist_distant.how_do_i_do_it_statement')}
    responses
      +can_you_just_tell
      +second_thought

  else if lastResponse === "can_you_just_tell"
    statement.
      !{getTranslatedString('javascript.botanist_distant.can_you_just_tell_statement')}
    responses
      +how_do_i_do_it
      +second_thought

  else if lastResponse === "second_thought"
    statement.
      !{getTranslatedString('javascript.botanist_distant.second_thought_statement')}
    responses
      +how_do_i_do_it

  else if lastResponse === "what_was_that"
    statement.
      !{getTranslatedString('javascript.botanist_distant.what_was_that_statement')}
    responses
      +need_code
      +how_do_i_do_it

  else if lastResponse === "need_code"
    statement.
      !{getTranslatedString('javascript.botanist_distant.need_code_statement')}
    responses
      +can_you_just_tell
      +how_do_i_do_it

  else if worldState.southWing.hadIntroConversation
    statement.
      !{getTranslatedString('javascript.botanist_distant.had_intro_conversation_statement')}
    responses
      response#what_was_that.
        !{getTranslatedString('javascript.botanist_distant.had_intro_conversation_response')}

  else
    - worldState.southWing.hadIntroConversation = true;
    statement.
      !{getTranslatedString('javascript.botanist_distant.had_intro_conversation_true')}
    responses
      +need_code
      +how_do_i_do_it

// Flush world state changes, if any
- setState('TQ_JAVASCRIPT_WORLD_STATE', worldState);