- const worldState = getState('TQ_JAVASCRIPT_WORLD_STATE');

// Responses
mixin what_research
  response#what_research.
    !{getTranslatedString('javascript.cedric.what_research')}

mixin what_can_i_learn
  response#what_can_i_learn.
    !{getTranslatedString('javascript.cedric.what_can_i_learn')}

conversation(display_name="Cedric")
  - const savedDay = worldState && Object.values(worldState.room1_split.lasers).every(isOn => isOn);
  - const pleaseHurry = worldState && worldState.room1 && worldState.room1.explosionTriggered;
  if savedDay
    statement#saved_day
  else if pleaseHurry
    statement#please_hurry
  else
    case lastResponse
      when "what_research"
        statement#what_research
        responses
          +what_can_i_learn

      when "what_can_i_learn"
        statement#what_can_i_learn
        responses
          +what_research

      default
        statement#default
        responses
          +what_can_i_learn
          +what_research

  statements
    statement#saved_day
      text.
        !{getTranslatedString('javascript.cedric.saved_day_text')}
      speech
        prosody(rate="110%").
          !{getTranslatedString('javascript.cedric.saved_day_speech')}

    statement#please_hurry
      text.
        !{getTranslatedString('javascript.cedric.please_hurry_text')}
      speech
        prosody(rate="110%").
          !{getTranslatedString('javascript.cedric.please_hurry_speech')}

    statement#what_can_i_learn
      text.
        !{getTranslatedString('javascript.cedric.what_can_i_learn_text')}
      speech
        prosody(rate="110%").
          !{getTranslatedString('javascript.cedric.what_can_i_learn_speech')}

    statement#what_research
      text.
        !{getTranslatedString('javascript.cedric.what_research_text')}
      speech
        prosody(rate="110%").
          !{getTranslatedString('javascript.cedric.what_research_speech')}

    statement#default
      text.
        !{getTranslatedString('javascript.cedric.default_text')}
      speech
        prosody(rate="110%").
          !{getTranslatedString('javascript.cedric.default_speech')}