// Responses
mixin where_should_go
  response#where_should_go.
    !{getTranslatedString('javascript.libation_bot.where_should_go')}

mixin about
  response#about.
    !{getTranslatedString('javascript.libation_bot.about')}

conversation(display_name="Libation Bot")
  case lastResponse
    when "about"
      statement#about
      responses
        +where_should_go

    when "where_should_go"
      statement#where_should_go
      responses
        +about

    default
      statement#default
      responses
        +where_should_go
        +about

  statements
    
    statement#where_should_go
      text.
        !{getTranslatedString('javascript.libation_bot.where_should_go_text')}

    statement#about
      text.
        !{getTranslatedString('javascript.libation_bot.about_text')}

    statement#default
      text.
        !{getTranslatedString('javascript.libation_bot.default')}