- const worldState = getState('TQ_JAVASCRIPT_WORLD_STATE');

mixin welcome
  response#welcome.
    !{getTranslatedString('javascript.scientist1_final.welcome')}

mixin sabotage
  response#sabotage.
    !{getTranslatedString('javascript.scientist1_final.sabotage')}

conversation(display_name="TwilioQuest Lead Scientist")
  if lastResponse === "welcome"
    statement.
      !{getTranslatedString('javascript.scientist1_final.last_response.welcome')}

    responses
      +sabotage

  else if lastResponse === "sabotage"
    statement.
      !{getTranslatedString('javascript.scientist1_final.last_response.sabotage')}

    responses
      +welcome

  else
    statement.
      !{getTranslatedString('javascript.scientist1_final.else')}

    responses
      +welcome
      +sabotage

// Flush world state changes, if any
- setState('TQ_JAVASCRIPT_WORLD_STATE', worldState);