- const worldState = getState('TQ_JAVASCRIPT_WORLD_STATE');

mixin how_get_job
  response#how_get_job.
    !{getTranslatedString('javascript.scientist1.how_get_job')}

conversation(display_name="TwilioQuest Scientist")
  if lastResponse === "how_get_job"
    statement.
      !{getTranslatedString('javascript.scientist1.how_get_job.statement')}
    responses
      response#lucky_to_have.
        !{getTranslatedString('javascript.scientist1.lucky_to_have')}

  else if lastResponse === "lucky_to_have"
    statement.
      !{getTranslatedString('javascript.scientist1.lucky_to_have.statement')}

  else if lastResponse === "what_happened"
    include scientist1_disaster.pug
  
  else if worldState.room1.explosionTriggered
    if lastResponse
      include scientist1_disaster.pug
    else if worldState.scientistDisasterConvo
      statement.
        !{getTranslatedString('javascript.scientist1.what_happened.else_if.statement')}
      responses
        response#what_happened.
          !{getTranslatedString('what_happened.else_if.response')}
    else
      statement.
        !{getTranslatedString('javascript.scientist1.what_happened.else.statement')}
      responses
        response#what_happened.
          !{getTranslatedString('javascript.scientist1.what_happened.else.response')}

  else
    if worldState.room1.passwordFound
      statement.
        !{getTranslatedString('javascript.room1.passwordFound')}
      responses
        +how_get_job

    else if worldState.room1.scientistInitalConvo
      statement.
        !{getTranslatedString('javascript.scientist1.room1.scientistInitalConvo')}
      responses
        +how_get_job

    else
      include scientist1_initial.pug

// Flush world state changes, if any
- setState('TQ_JAVASCRIPT_WORLD_STATE', worldState);