// Partial conversation template for post-explosion conversation
case lastResponse
  when "other_scientists"
    statement.
      !{getTranslatedString('javascript.scientist1_disaster.other_scientists')}
    responses
      response#get_to_safety.
        !{getTranslatedString('javascript.scientist1_disaster.get_to_safety')}

  when "get_to_safety"
    statement.
      !{getTranslatedString('javascript.scientist1_disaster.get_to_safety_statement')}
    responses
      response#fix_it.
        !{getTranslatedString('javascript.scientist1_disaster.get_to_safety.fix_it')}

  when "fix_it"
    statement.
      !{getTranslatedString('javascript.scientist1_disaster.fix_it')}
    responses
      response#on_it.
        !{getTranslatedString('javascript.scientist1_disaster.fix_it.on_it')}

  when "on_it"
    statement.
      !{getTranslatedString('javascript.scientist1_disaster.on_it_statement')}
    // Flag that the scientist post-disaster conversation has been finished
    - worldState.scientistDisasterConvo = true;

  default
    statement.
      !{getTranslatedString('javascript.scientist1_disaster.default.statement')}
    responses
      response#other_scientists.
        !{getTranslatedString('javascript.scientist1_disaster.default.other_scientists')}