- const worldState = getState('TQ_JAVASCRIPT_WORLD_STATE');

mixin yes_cant_see
  response#yes_cant_see.
    !{getTranslatedString('javascript.scientist4.yes_cant_see')}

mixin how_do_that
  response#how_do_that.
    !{getTranslatedString('javascript.scientist4.how_do_that')}

mixin need_key
  response#need_key.
    !{getTranslatedString('javascript.scientist4.need_key')}

conversation(display_name="TwilioQuest Physicist")
  if lastResponse === "yes_cant_see"
    statement.
      !{getTranslatedString('javascript.scientist4.lastResponse.yes_cant_see')}
    responses
      +how_do_that
      +need_key
  
  else if lastResponse === "how_do_that"
    statement.
      !{getTranslatedString('javascript.scientist4.lastResponse.how_do_that')}
    responses
      +need_key

  else if lastResponse === "need_key"
    statement.
      !{getTranslatedString('javascript.scientist4.lastResponse.need_key')}
    responses
      +how_do_that

  else if worldState.northWing.summonAnimFinished
    if worldState.northWing.hadSavedConversation
      statement.
        !{getTranslatedString('javascript.scientist4.lastResponse.summonAnimFinished.if')}
      responses
    else
      - worldState.northWing.hadSavedConversation = true;
      statement.
        !{getTranslatedString('javascript.scientist4.lastResponse.summonAnimFinished.else')}
      responses

  else if worldState.northWing.hadIntroConversation
    statement.
      !{getTranslatedString('javascript.scientist4.lastResponse.hadIntroConversation')}
    responses
      +how_do_that
      +need_key

  else
    - worldState.northWing.hadIntroConversation = true;
    statement.
      !{getTranslatedString('javascript.scientist4.lastResponse.else')}
    responses
      +yes_cant_see

// Flush world state changes, if any
- setState('TQ_JAVASCRIPT_WORLD_STATE', worldState);