- const worldState = getState('TQ_JAVASCRIPT_WORLD_STATE');

mixin welcome
  response#welcome.
    !{getTranslatedString('javascript.scientist4_final.welcome')}

mixin follow_up
  response#follow_up.
    !{getTranslatedString('javascript.scientist4_final.follow_up')}

conversation(display_name="TwilioQuest Physicist")
  if lastResponse === "welcome"
    statement.
      !{getTranslatedString('javascript.scientist4_final.lastResponse.welcome')}

    responses
      +follow_up

  else if lastResponse === "follow_up"
    statement.
      !{getTranslatedString('javascript.scientist4_final.lastResponse.follow_up')}

    responses
      +welcome

  else
    statement.
      !{getTranslatedString('javascript.scientist4_final.lastResponse.else')}

    responses
      +welcome
      +follow_up

// Flush world state changes, if any
- setState('TQ_JAVASCRIPT_WORLD_STATE', worldState);