- const worldState = getState('TQ_JAVASCRIPT_WORLD_STATE');

mixin welcome
  response#welcome.
    !{getTranslatedString('javascript.scientist3_final.welcome')}

mixin follow_up
  response#follow_up.
    !{getTranslatedString('javascript.scientist3_final.follow_up')}

conversation(display_name="TwilioQuest Engineer")
  if lastResponse === "welcome"
    statement.
      !{getTranslatedString('javascript.scientist3_final.welcome.lastResponse')}

    responses
      +follow_up

  else if lastResponse === "follow_up"
    statement.
      !{getTranslatedString('javascript.scientist3_final.follow_up.statement')}

    responses
      +welcome

  else
    statement.
      !{getTranslatedString('javascript.scientist3_final.follow_up.else.statement')}

    responses
      +welcome
      +follow_up

// Flush world state changes, if any
- setState('TQ_JAVASCRIPT_WORLD_STATE', worldState);
