// Partial conversation template for the initial scientist conversation
case lastResponse
  when "oh_no"
    statement.
      !{getTranslatedString('javascript.scientist1_initial.oh_no')}
    responses
      response#reset_password.
        !{getTranslatedString('javascript.scientist1_initial.oh_no.reset_password')}

  when "reset_password"
    statement.
      !{getTranslatedString('javascript.scientist1_initial.reset_password.statement')}
    responses
      response#also_forgot.
        !{getTranslatedString('javascript.scientist1_initial.reset_password.also_forgot')}
  
  when "also_forgot"
    statement.
      !{getTranslatedString('javascript.scientist1_initial.also_forgot.statement')}
    responses
      response#its_okay.
        !{getTranslatedString('javascript.scientist1_initial.also_forgot.its_okay')}

  when "its_okay"
    statement.
      !{getTranslatedString('javascript.scientist1_initial.its_okay.statement')}
    responses
      response#you_bet.
        !{getTranslatedString('javascript.scientist1_initial.its_okay.you_bet')}

  when "you_bet"
    statement.
      !{getTranslatedString('javascript.scientist1_initial.you_bet')}
    // Flag that the scientist initial conversation has been finished
    - worldState.room1.scientistInitalConvo = true;

  default
    statement.
      !{getTranslatedString('javascript.scientist1_initial.default.statement')}
    responses
      response#oh_no.
        !{getTranslatedString('javascript.scientist1_initial.default.oh_no')}