-
  // After conversation happens once, Operator gets green card
  const STATE_KEY = 'TQ_JAVASCRIPT_WORLD_STATE';
  const worldState = getState(STATE_KEY) || {};

// Responses
mixin security_tight
  response#security_tight.
    !{getTranslatedString('javascript.visitor-signin-scientists.security_tight')}

mixin about
  response#about.
    !{getTranslatedString('javascript.visitor-signin-scientists.about')}

conversation(display_name="TwilioQuest Scientist")
  case lastResponse
    when "about"
      statement#about
      responses
        +security_tight

    when "security_tight"
      statement#security_tight
      responses
        +about

    default
      if worldState.accessLevels && worldState.accessLevels.green 
        statement#default_alt
      else
        statement#default
      responses
        +security_tight
        +about

  statements
    
    statement#security_tight
      text.
        !{getTranslatedString('javascript.visitor-signin-scientists.statements.security_tight')}

    statement#about
      text.
        !{getTranslatedString('javascript.visitor-signin-scientists.statements.about')}

    statement#default_alt
      text.
        !{getTranslatedString('javascript.visitor-signin-scientists.statements.default_alt')}

    statement#default
      text.
        !{getTranslatedString('javascript.visitor-signin-scientists.statements.default')}

-
  // After conversation happens once, Operator gets green card
  const newWorldState = {
    ...worldState,
    accessLevels: { ...worldState.accessLevels, green: { opened: [] } }
  }
  setState(STATE_KEY, newWorldState);
        

